*,*::before, *::after{
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: bisque;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.card {
    --padding: 1rem;
    background: whitesmoke;
    border: 1px solid slategray;
    border-radius: .25rem;
    overflow: hidden;
  
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
}

.card-header.card-image > img{
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}

.card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card-header {
    padding: var(--padding);
    padding-bottom: 0;
    font-size: 2rem;
    margin-bottom: .5rem;
}


.card-body {
    font-size: 1.5rem;
    padding: var(--padding);
}

.card-footer {
    padding: var(--padding);
    padding-top: 0;
    margin-top: 1rem;
}

.btn {
    background: powderblue;
    color: slategray;
    border: none;
    padding: .7em .8em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: lightyellow;
}

.btn.btn-outline{
    background: none;
    border: 2px solid powderblue;
    color: powderblue;
   
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: lightyellow ;
}
.btn + .btn {
    margin-left: .25rem;
}